@font-face {
    font-family: menu;
    src: url(Super\ Ocean\ Personal\ Use.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(45deg, #612f5e, #4d174b);
}
.txt1{
    font-size: 30px;
    text-align: center;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    color: #612f5e;
    text-decoration: none;
    font-family: menu, times, serif;
}
.img{
    padding: 0px;
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
    top: -20px;
}
.img2{
    display: flex;
    position: absolute;
    top: 240px;
    margin-left: 40px;
    height: 400px;
}
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
.whatsapp-icon:hover {
    transform: scale(1.1);
}
.whatsapp-icon i {
    font-size: inherit;
}
nav#menu{
    display: none; 
    font-family: Arial, Helvetica, sans-serif;
}
#menu-toggle{
    display: none; 
}
label{
    display: none;   
}
@media screen and (max-width: 768px) {
    .txt1{
        font-family: menu, times, serif;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin: 10px;
        border-radius: 10px;
        color: #612f5e;

    }
    .img2{
        display: flex;
        position: absolute;
        top: 230px;
        margin-left: 45px;
        height: 450px;
        border-radius: 20px;
        background-color: white;
        
    }
    #menu-toggle {
        display: none;
    }
    #menu-toggle + label:hover{
        background-image: linear-gradient(45deg, #9070a5, #4d174b);
        transition: 1s;
    }
    #menu-toggle + label::after{
        transition: 1s;
    }
    
    /* Estilos para o ícone do botão */
    #menu-toggle + label {
        cursor: pointer;
        font-size: 24px;
        padding: 10px;
        background-image:linear-gradient(45deg, #333,#575656) ;
        color: #fff;
        display: block;
        width: 50px;
        text-align: center;
        border-radius: 10px

    }
    
    /* Estilos para o menu */
    #menu {
        display: none;
        background-image:linear-gradient(45deg, #9070a5, #4d174b);
        color: #fff;
        width: 200px;
        padding: 20px;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1000;
        transition: 1s;
        border-radius: 10px;
        transition: 1s;
    }
    
    /* Estilos para os itens do menu */
    #menu a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #b47cce;
        transition: 1s;
    }
    #menu-toggle:checked + label + #menu {
        display: block;
        transition: 1s;
    }
}
